.values-text {
    padding: 20px;
    max-width: 800px; /* Set a max width for better readability */
    margin: 0 auto; /* Center the container */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; /* Center align all text within the container */
}

.values-text .title {
    margin-bottom: 20px; /* Add space below the title section */
}

.values-text .title h1 {
    margin: 0;
}

.values-text .title h4 {
    margin: 10px 0 20px; /* Adjust margins for spacing */
}

/* List styling */
.values-list {
    list-style-type: none; /* Remove default list style */
    padding: 0;
    margin: 0 auto; /* Center the list */
    max-width: 600px; /* Adjust width as needed */
    text-align: left; /* Left-align the text within the list items */
}

.values-list li {
    margin-bottom: 15px; /* Space between list items */
    position: relative; /* Positioning context for pseudo-element */
    padding-left: 30px; /* Indent the list items */
}

.values-list li::before {
    content: '\2022'; /* Unicode for bullet point */
    position: absolute; /* Position pseudo-element */
    left: 0; /* Align to the left */
    color: #000; /* Bullet color */
}

.values-list li p {
    line-height: 1.6; /* Line spacing for readability */
    margin: 0; /* Remove default margin */
}

.values-list li strong {
    color: #000; /* Strong text color */
}
